SECRET_KEY=replace-with-a-long-random-value
DB_HOST=my-library-db.xxxxxxxxx.ap-south-2.rds.amazonaws.com
DB_PORT=3306
DB_NAME=library
DB_USER=admin
DB_PASSWORD=your_password
HOST=0.0.0.0
PORT=5000
WEB_ORIGIN=http://YOUR_WEB_SERVER_PUBLIC_IP
FLASK_DEBUG=0
